# default configuration
accessKey.secret=myaccesskeysupersecretsecret
accessKey.defaultReadPermissions=jcr:read_default
accessKey.defaultWritePermissions=jcr:write_default
accessKey.liveReadPermissions=jcr:read_live
accessKey.liveWritePermissions=jcr:write_live
